:javascript
  //localize dates
  $(document).ready(function (){
    $('.date').each( function(){
      date = $.datepicker.parseDate('yy-mm-dd', $(this).text().trim());
      $(this).text($.datepicker.formatDate($.datepicker.regional['es'].dateFormat, date));
    });
   });
  
#factura
  %h1 Listado de Facturas
  .todos
    %table
      %tr
        %th Numero
        %th Fecha
        %th Cliente
        %th{:class => 'todos_menu'}
        %th{:class => 'todos_menu'}
        %th{:class => 'todos_menu'}

      - @facturas.each do |factura|
        %tr
          %td
            = factura.number
          %td.date
            = factura.created_at
          %td
            = factura.cliente
          %td{:class => 'todos_menu'} 
            = link_to 'Ver', factura
          %td{:class => 'todos_menu'} 
            = link_to 'Editar', edit_factura_path(factura)
          %td{:class => 'todos_menu'} 
            = link_to 'Eliminar', factura, :confirm => '¿Estas seguro?', :method => :delete
  .piepagina
    = link_to 'Nueva Factura', new_factura_path