- title||= nil
- taxes= true if taxes.nil?
:javascript
  $(function() {
    date_input = $( "#fecha" );
    hidden_input = $("##{invoice.to_s}_created_at");
    date_input.bind( 'change', function(){
      date = $(this).datepicker("getDate");
      hidden_input.attr('value', $.datepicker.formatDate('yy-mm-dd', date));
    });
    date_input.datepicker();
    date_input.datepicker( "option", "showAnim", "slideDown" );
    if (hidden_input.attr('value') === undefined || hidden_input.attr('value') === null) { 
      date_input.datepicker("setDate", new Date());
      hidden_input.attr('value', $.datepicker.formatDate('yy-mm-dd', new Date()));
    }else{
      date_input.datepicker("setDate", $.datepicker.parseDate( 'yy-mm-dd', hidden_input.attr('value'))); 
    }
  });

- haml_tag "##{invoice.to_s}" do
  %h1= title || "New #{invoice.to_s.humanize.capitalize}"
  = render :partial => 'invoice/form', :locals=>{:invoice => invoice, :taxes => taxes}
#footer
  = link_to invoice.to_s.humanize.capitalize.pluralize, (eval "#{invoice.to_s.pluralize}_path")
