= form_for(@user_session) do |f|
  - if @user_session.errors.any?
    #error_explanation.error
      %h2
        FORM ERROR:

      %ul
        - @user_session.errors.full_messages.each do |msg|
          %li
            = msg

  #field.formfield
    = f.label :usuario
    %br
    = f.text_field :username
  #field.formfield
    = f.label :contraseña
    %br
    = f.password_field :password
  .actions
    = f.submit 'Login'
